:host {
    min-height: 100vh;
    display: block;
    background-color: rgb(1, 1, 25) !important;
}

.container {
    padding-top: 1px;
    background-color: rgb(1, 1, 25) !important;
}

.modal-content {
    background-color: rgb(1, 1, 25) !important;
}

.single-row {
    display: flex;
}